---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import EmailCollect from '~/components/widgets/EmailCollect.astro';
import Hero3 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import SauronEye from '../components/SauronEye.astro';

import { headerData } from '~/data';

const meta = {
  title: SITE.title,
  description: SITE.description,
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero3>
    <Fragment slot="title">Gain insight in your codebase</Fragment>
    <Fragment slot="callToAction"><EmailCollect /></Fragment>
    <Fragment slot="image"><SauronEye /></Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">sourceye</span> is a next-generation open source code analysis platform offering real
        actionable insights in code structure and quality.
      </span>
    </Fragment>
  </Hero3>
</Layout>
