---
import LogoIcon from './LogoIcon.astro';
---

<div class="h-12 w-12">
  <LogoIcon />
</div>
<span class="ml-2 self-center whitespace-nowrap font-mono text-2xl font-bold text-gray-900 dark:text-white md:text-xl">
  sourceye</span
>
